<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">CBDev•</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Inicio </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/about-me']"> Sobre Mi </a>
            </li>
         
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/projects']"> Proyectos </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contact']"> Contacto </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Sigueme:</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.github.com/kyruodioso"
              target="_blank"
            >
              <i class="fab fa-github"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.facebook.com/kyru.odioso"
              target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://www.instagram.com/kyruodioso"
              target="_blank"
            >
              <i class="fab fa-instagram"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>