<div class="page-header ">

    <div class="page-header-image"></div>
    <div class="content">

        <div class="container ">
            <div class="row">
                <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
                    <div class="square square-7" id="square7"></div>
                    <div class="square square-8" id="square8"></div>
                    <div class="card card-register animate__animated animate__slow">
                        <div class="card-header">
                            <img alt="Card image" class="card-img" src="assets/img/square1-red.png" />

                            <h4 class="card-title">Contacto</h4>
                        </div>
                        <div class="card-body">
                            <form class="form" [formGroup]="form" (submit)="send()" autocomplete="off" netlify>
                                <div class="input-group" [ngClass]="{ 'input-group-focus': focus === true }">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tim-icons icon-single-02"> </i>
                                        </div>
                                    </div>
                                    <input class="form-control" placeholder="Nombre Completo" type="text"
                                        (focus)="focus = true" (blur)="focus = false"  formControlName="name" required/>
                                </div>
                                <div class="input-group" [ngClass]="{ 'input-group-focus': focus1 === true }">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tim-icons icon-email-85"> </i>
                                        </div>
                                    </div>
                                    <input class="form-control" placeholder="Email" type="text" (focus)="focus1 = true"
                                        (blur)="focus1 = false" formControlName="email"/>
                                </div>
                                <div class="input-group" [ngClass]="{ 'input-group-focus': focus2 === true }">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tim-icons icon-bank"> </i>
                                        </div>
                                    </div>
                                    <input class="form-control" placeholder="Empresa" type="text"
                                        (focus)="focus2 = true" (blur)="focus2 = false" formControlName="company"/>
                                </div>
                                <div class="input-group" [ngClass]="{ 'input-group-focus': focus3 === true }">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tim-icons icon-bolibe"> </i>
                                        </div>
                                    </div>
                                    <input class="form-control" placeholder="Telefono" type="text"
                                        (focus)="focus3 = true" (blur)="focus3 = false" formControlName="phone"/>
                                </div>
                                <div class="form-group" [ngClass]="{ 'input-group-focus': focus4 === true }">
                                    <div class="input-group-prepend">
                                    <label for="exampleFormControlTextarea1">Mensaje</label>
                                </div>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" (focus)="focus4=true" (blur)="focus4 = false" formControlName="message"></textarea>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-danger btn-round btn-lg" [disabled]="form.invalid">
                                        Send
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

            <div class="register-bg"></div>
            <div class="square square-1" id="square1"></div>
            <div class="square square-2" id="square2"></div>
            <div class="square square-3" id="square3"></div>
            <div class="square square-4" id="square4"></div>
            <div class="square square-5" id="square5"></div>
            <div class="square square-6" id="square6"></div>
        </div>
    </div>

</div>